<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ftp" value="ftp:\\"></add>
    <add key="folder" value="MenuStolovaja"></add>
    <add key="login" value="login"></add>
    <add key="password" value="pass"></add>
  </appSettings>
</configuration>